* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }
  * body {
    position: relative; }
    * body main section.intro-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8vh;
      height: 100vh;
      text-align: center;
      background-color: #000; }
      * body main section.intro-container .intro-text {
        animation: fadeIn 5s ease 0s 1 normal;
        -webkit-animation: fadeIn 5s ease 0s 1 normal; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
        * body main section.intro-container .intro-text h2.hello {
          color: #E9425B;
          font-size: 8rem;
          font-weight: 700; }
          @media (max-width: 767px) {
            * body main section.intro-container .intro-text h2.hello {
              font-size: 4rem; } }
        * body main section.intro-container .intro-text h1 {
          color: #E94680;
          font-size: 5.6rem;
          font-weight: 300; }
          @media (max-width: 767px) {
            * body main section.intro-container .intro-text h1 {
              font-size: 2.8rem; } }
        * body main section.intro-container .intro-text h3.job-title {
          color: #C35CFE;
          font-size: 1.8rem;
          font-weight: 300;
          margin: 12% auto; }
          @media (max-width: 767px) {
            * body main section.intro-container .intro-text h3.job-title {
              font-size: 0.9rem; } }
        * body main section.intro-container .intro-text h4.portfolio {
          color: #587DF9;
          font-size: 1.75rem;
          font-weight: 300; }
          @media (max-width: 767px) {
            * body main section.intro-container .intro-text h4.portfolio {
              font-size: 0.9rem; } }
        * body main section.intro-container .intro-text h4.code-design {
          color: #325DEC;
          font-size: 3.2rem;
          font-weight: 700;
          margin-top: -2%; }
          @media (max-width: 767px) {
            * body main section.intro-container .intro-text h4.code-design {
              font-size: 1.6rem; } }
          * body main section.intro-container .intro-text h4.code-design span {
            color: #587DF9;
            font-weight: normal; }
        * body main section.intro-container .intro-text h4.country {
          color: #587DF9;
          font-size: 4.4rem;
          font-weight: 300;
          margin-top: -5%; }
          @media (max-width: 767px) {
            * body main section.intro-container .intro-text h4.country {
              font-size: 2.2rem; } }
    * body main section.skill-container {
      position: relative;
      height: 100vh;
      margin: auto;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1024px) {
        * body main section.skill-container {
          width: 100%; } }
    * body main section.about-container {
      position: relative;
      width: 100%;
      height: 100vh;
      background-color: #14234c;
      text-align: center; }
      * body main section.about-container img {
        height: 100vh;
        width: 100%;
        object-fit: cover; }
    * body main section.contact-container {
      position: relative;
      width: 100%;
      height: 100vh;
      text-align: center;
      background-color: #000; }
      * body main section.contact-container .sns-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        * body main section.contact-container .sns-container h3 {
          font-family: "Architects Daughter", cursive;
          color: #fff;
          padding-bottom: 3%; }
          @media (max-width: 767px) {
            * body main section.contact-container .sns-container h3 {
              font-size: 1.2rem; } }
        * body main section.contact-container .sns-container .fa-wrapper {
          display: flex;
          justify-content: center; }
          * body main section.contact-container .sns-container .fa-wrapper a {
            padding: 7%; }
            * body main section.contact-container .sns-container .fa-wrapper a:hover {
              text-decoration: none; }
            * body main section.contact-container .sns-container .fa-wrapper a .fab {
              font-size: 4rem; }
              @media (max-width: 767px) {
                * body main section.contact-container .sns-container .fa-wrapper a .fab {
                  font-size: 2rem; } }
            * body main section.contact-container .sns-container .fa-wrapper a .fa-facebook-f {
              color: #E9425B;
              display: block; }
            * body main section.contact-container .sns-container .fa-wrapper a .fa-github {
              color: #E94680;
              display: block; }
            * body main section.contact-container .sns-container .fa-wrapper a .fa-linkedin-in {
              color: #C35CFE;
              display: block; }
    * body footer {
      text-align: center;
      background-color: #000; }
      * body footer p {
        margin: 0;
        color: #fff;
        font-family: "Architects Daughter", cursive;
        font-family: 'Raleway', sans-serif; }

/*# sourceMappingURL=index.css.map */
